TEAM_ID=YOUR_APPLE_TEAM_ID
HOOKAHBOSS_RELEASE_API_BASE_URL=https://api.example.com
APP_STORE_CONNECT_API_KEY_ID=YOUR_KEY_ID
APP_STORE_CONNECT_API_ISSUER_ID=YOUR_ISSUER_ID
APP_STORE_CONNECT_API_KEY_CONTENT=BASE64_ENCODED_P8_CONTENT
MATCH_GIT_URL=git@github.com:SE-Kostyuchenko/Apple-Certificates.git
MATCH_GIT_BRANCH=personal
MATCH_PASSWORD=YOUR_PRIVATE_MATCH_PASSWORD
